<div class="container-fluid py-5 mb-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <p class="head poppins-medium">Downloads in our Mobile App</p>
                <p class="txt poppins-regular">Buy & Sell Truck, Machinery and Auto Parts  and Better using our Appour</p>
                <img src="images/playstore.png" width="160 " class="me-2" alt="">
                <img src="images/appstore.png" width="160 " class="me-2" alt="">
            </div>
            <div class="col-md-3 d-flex align-items-center">
<img src="images/qr.png" class="me-3" alt="">
<p class="txt1 poppins-regular">Scan the QR to Get the App</p>
            </div>
            <div class="col-md-4">
                <img src="images/iPhone 13.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>