<div class="container-fluid main m-auto">
    <div class="w-50 main1 my-5">
        <p class="poppins-medium head">Verify Number</p>
        <p class="txt poppins-regular">
            A one - time password has been sent on the number. please enter it below to verify your number
        </p>
        <div class="d-flex w-100 ">
            <span class="align-items-center"><i class="fa-solid fa-phone"></i></span>
            <div class="form-group w-100">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
        </div>
        <button class="w-100 varbtn poppins-medium my-3">Varify</button>
        <button class="w-100 resbtn poppins-medium mb-3">Resend Code</button>

    </div>
</div>