.dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  
  .list-item {
    margin-bottom: 20px; 
    line-height: 30px;
  }
  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
  }
  .txt{
    font-size: 20px;
    line-height: 30px;
  }
  .head{
    font-size: 32px;
  }
  h4{
    color: #016635;
  }