<div class="container-fluid py-4 main" id="earthmovingmachine">
  <div class="">
    <p class="head poppins-medium py-4">Earth Moving Machine Category:</p>
    <div class="row g-3">
      <div class="col-custom" *ngFor="let category of categories">
        <a [routerLink]="category.link" class="text-decoration-none">
          <div class="card shadow-sm p-1">
            <img src="{{ category.image }}" class="card-img-top" alt="{{ category.title }}" />
            <div class="card-body text-center">
              <p class="card-title poppins-medium mb-0">{{ category.title }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
