<div class="container-fluid main">
  <div class="container bg-white py-5 px-3 my-5">
    <p class="poppins-medium head">Edit Profile</p>
    <div class="form">
      <form (submit)="saveChanges()">
        <div>
          <img [src]="user.profileImage" width="80" alt="Profile">
          <input type="file" class="mx-4" (change)="onFileSelected($event)">
        </div>

        <div class="form-group row my-3">
          <label class="col-sm-2 col-form-label poppins-regular">Full Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="user.fullname" name="fullname">
          </div>
        </div>

        <div class="form-group row my-3">
          <label class="col-sm-2 col-form-label poppins-regular">Country</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="user.country" name="country">
          </div>
        </div>

        <div class="form-group row my-3">
          <label class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="user.city" name="city">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label poppins-regular">Shop Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="user.shopName" name="shopName">
          </div>
        </div>

        <div class="form-group row my-3">
          <label class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
          </div>
        </div>

        <div class="form-group row my-3">
          <label class="col-sm-2 col-form-label poppins-regular">Phone No</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="poppins-medium">Save Changes</button>
        </div>

        <div class="acdel text-end">
          <span class="px-5 spn1"><img src="images/green.png" alt=""> Logout</span>
          <span class="spn2"><img src="images/red.png" alt=""> Delete Account</span>
        </div>
      </form>


    </div>
  </div>
</div>