<div class="container-fluid main">
    <div class="container bg-white py-5 px-3 my-5">
<p class="poppins-medium head">Edit Profile</p>
<div class="form">
   <form action="">
    <div><img src="images/profile.png" width="80" alt="">
    <input type="file" class="mx-4"></div>
    <div class="form-group row my-3">
        <label  class="col-sm-2 col-form-label poppins-regular">Full Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Full Name">
        </div>
      </div>
      <div class="form-group row my-3">
        <label  class="col-sm-2 col-form-label poppins-regular">Country</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Country">
        </div>
      </div>
      <div class="form-group row my-3">
        <label  class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="City">
        </div>
      </div>
      <div class="form-group row">
        <label  class="col-sm-2 col-form-label poppins-regular">User Name</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="User Name">
        </div>
      </div>
      <div class="form-group row my-3">
        <label  class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" placeholder="Enter your Email">
        </div>
      </div>
      <div class="form-group row my-3">
        <label  class="col-sm-2 col-form-label poppins-regular">Phone no</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="Phone no">
        </div>
      </div>
     <div class="text-center">
         <button class="poppins-medium">Save Changes</button>
     </div>
     <div class="acdel text-end">

        <span class="px-5 spn1"><img src="images/green.png" alt=""> Logout</span>
        <span class="spn2"><img src="images/red.png" alt=""> Delete Account</span>
     </div>
      

   </form>
</div>
    </div>
</div>