<div class="container-fluid bg-white p-0">
    <p class="poppins-bold" style="font-size: 48px;color:rgba(1, 102, 53, 1)">Pak Truck</p>
    <p style="font-size: 18px;color:Admin Dashboard" class="poppins-regular">Admin Dashboard</p>
    <ul class="poppins-medium p-0">
        <li class="pb-3"><i class="fa fa-home" aria-hidden="true"></i>
            Dashboard</li>
        <li class="pb-3"><i class="fa-solid fa-truck"></i>Pak Truck Managed</li>
        <li class="pb-3"><i class="fa-solid fa-ban"></i>Block Accounts</li>
        <li class="pb-3"><i class="fa-solid fa-video"></i>Videos</li>
        <li class="pb-3"><i class="fa-regular fa-pen-to-square"></i>Blogs</li>
    </ul>
</div>