<div class="container-fluid my-5 px-5">
<div class="container-fluid main d-flex flex-column justify-content-end mb-3 ">
  <div class="container mb-3 text-white">
    <h1 class="poppins-medium head">Find Used Truck in Pakistan</h1>
    <p class="text-white poppins-medium txt">
      With thousands of Trucks, we have just the right one for you
    </p>
  </div>

  <div class="container bg-white w-100 justify-content-end mb-3 rounded-3">
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <input
            type="text"
            class="form-control me-3"
            placeholder="Search Truck make or model"
          />
          <select class="form-select me-3">
            <option>All Cities</option>
            <option>Truck 1</option>
            <option>Truck 2</option>
          </select>
          <select class="form-select me-3">
            <option>Price Range</option>
            <option>Under $10,000</option>
            <option>$10,000 - $20,000</option>
          </select>
          <button class="btn btn-orange poppins-regular me-3"><i class="fas fa-search"></i>
            Search</button>
          <button class="btn btn2 me-3 poppins-regular"><i class="fas fa-sliders-h"></i>

            More</button>

        </div>
      </div>
    </div>
  </div>
</div>
<app-paktruckmanage></app-paktruckmanage>
<app-featuredtrucksforsale></app-featuredtrucksforsale>
<app-makesmodels></app-makesmodels>
</div>
