.main{
    background-image: url('../../../../public/images/usedhero.png');
    height: 70vh;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-orange {
    background-color: #016635;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px 10px 10px 10px !important;
  }
  .head{
    font-size: 44px;
  }
  .txt{
    font-size: 24px;
  }
  .btn-orange:hover {
    background-color: #016635;
  }
  .btn2{
    background-color: #01663533;
    font-size: 20px;
    color: #016635;
    border-radius: 10px 10px 10px 10px !important;
  }


  input{
    background-color: #E6E6E6;
    height: 50px;
    border-radius: 10px !important;
  }
  select{
    background-color: #E6E6E6;
    height: 50px;
    border-radius: 10px !important;
  }
  .container{
    height: 20vh;
  }
  .container {
    padding-top: 3%;
  }