<div class="container-fluid p-0   overflow-hidden">
    <div class="row">
        <div class="col-3"><app-sidebar></app-sidebar></div>
        <div class="col-8">
            <app-topbar></app-topbar>
            <div>
                <p class="poppins-bold txt">Dashboard</p>
                <p class="poppins-medium txt1">Welcome back  Truck Admin!</p>
              <app-admincards></app-admincards>













                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="row">
                                <div class="col-6">
                                    <p>Individual Users</p>
                                    <p>250</p>
                                </div>
                                <div class="col-6"><i class="fa-solid fa-person"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="row">
                                <div class="col-6">
                                    <p>Registered Shops</p>
                                    <p>65</p>
                                </div>
                                <div class="col-6"><i class="fa-solid fa-shop"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="row">
                                <div class="col-6">News & Discussion</div>
                                <div class="col-6"><i class="fa-solid fa-pen"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>