.name{
    font-size: 20px;
    color: #016635;
}
.head{
    font-size: 32px;
    color: #016635;
}
span{
    font-size: 16px;
}
.showroom{
    border: 0px;
    background-color: #01663523;
    height: 50px;
    font-size: 16px;
    color: #016635;
    border-radius: 10px;
}
.btn1{
    background-color: #0166352c;
    color: #016635;
    font-size: 16px;
    border: 0px;
    margin-left: 15px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}
.btn1:hover{
    background-color: #016635;
    color: white;
    font-size: 16px;
}
.nav-tabs{
    border: 0px !important;
  }
  .nav-link{
    font-size: 20px;
    background-color: rgba(0, 255, 255, 0);
    color: grey ;
    
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    background-color: rgba(0, 255, 255, 0) !important;
    border: 0px !important;
    color: #016635;
  }
  .viewbtn{
    background-color: #01663523;
    border: 0px;
    padding: 13px 20px;
    border-radius: 10px;
  }
.contactbtn{
    background-color: #FA610E;
    color: white;
    border: 0px;
    padding: 13px 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    
}
.card-title{
  font-size: 20px;
}
.card.text{
  font-size: 16px;
}