<div class="container-fluid px-5 main">
<p class="head poppins-medium mt-4">Sell Used Spare Parts in Pakistan</p>
<div class="row my-5">
    <div class="col-md-9">
        <p class="txt poppins-regular">
        Do you want to sell your Truck spare parts online? Place your spare parts free ad and sell spare parts in 1 step in any city of Pakistan including Karachi, Lahore, Islamabad, Faisalabad, Gujranwala, Rawalpindi, Hyderabad, Peshawar, Bahawalpur, Quetta, Multan, Mirpur, Muzaffarabad, Sukkur etc.
        </p>
    </div>
    <div class="col-md-3 text-end">
        <img src="images/image.png" class="imgsetting" alt="">
    </div>
</div>
<div>
    <p class="head poppins-medium">Enter Spare Parts Information</p>
    <p class="txt poppins-regular">(All fields marked with are mandatory)</p>
    <form action="">
        
          <div class="form-group row  my-3">
            <label for="inputPassword" class="col-sm-2 col-form-label poppins-medium labelform">City</label>
            <div class="col-sm-6">
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
            </div>
          </div>
          <div class="form-group row  my-3">
            <label for="inputPassword" class="col-sm-2 col-form-label poppins-medium labelform">Condition</label>
            <div class="col-sm-6">
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
            </div>
          </div>
          <div class="form-group row  my-3">
            <label for="inputPassword" class="col-sm-2 col-form-label poppins-medium labelform">Price  (Rs.)</label>
            <div class="col-sm-6">
              <input type="text" class="form-control"  placeholder="Price">
            </div>
          </div>
          <div class="form-group row my-3">
            <label for="inputPassword" class="col-sm-2 col-form-label poppins-medium labelform">Description</label>
            <div class="col-sm-6">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Example: Allow rim, first owner, genuine parts, maintained by authorized workshop, excellent mileage, original paint etc."></textarea>
            </div>
          </div>
          <p class="poppins-medium uplph">Upload Photos</p>
          <div class="uplbox  my-5 text-center">
            <div class="d-flex align-items-center justify-content-center">
                <img src="images/uploadimg.png" alt="">
                <div>
                    <p><input type="file" id="upload" hidden/>
                        <label for="upload" class="addphoto">Add Photos</label></p>
                    <p>(Max limit 5 MB per image)</p>
                </div>
            </div>
            <div class="row px-3">
                <div class="col-6 text-start  my-3 txt2 poppins-medium">

                    
                    <div class="row">
                
                 <div class="col-1"> 
                    <i class="fas fa-check mx-3"></i>
                 </div>
                        <div class="col-11">
                            Adding at Last 8 pictures <span class="poppins-regular">improves the chances for a quick sale.</span>
                        </div>
                    </div>
                        
                </div>
                <div class="col-6 text-start  my-3 txt2 poppins-medium">
                    <div class="row">
                        <div class="col-1"><i class="fas fa-check mx-3"></i></div>
                        <div class="col-11">
                            Adding clear Front Back and interior pictures <span class="poppins-regular">of your Truck increases the quality of your Ad and gets you noticed more.</span>
                        </div>
                    </div></div>
                <div class="col-6 text-start  my-3 txt2 poppins-medium"> 
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-check mx-3"></i>
                        </div>
                        <div class="col-11">Photos should be <span class="poppins-regular">in ‘jpeg, jpg, png gif’ format only</span></div>
                    </div></div>
                <div class="col-6 text-start  my-3 txt2 poppins-medium">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-check mx-3"></i>
                        </div>
                        <div class="col-11">
                            Photos should be <span class="poppins-regular"> 800x600 center frame image</span>
                        </div>
                    </div> </div>
                
            </div>
          </div>
          
    </form>
</div>

</div>
<div class="p-5 mb-5 bg-white">
    <p class="head poppins-medium">Seller Contact</p>
    <form class="p-0">
        <div class="form-group  mb-3 poppins-medium p-0">
          <label for="exampleFormControlInput1">Seller Name</label>
          <input type="email" class="form-control w-50" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group  mb-3 poppins-medium p-0">
            <label for="exampleFormControlInput1">Seller  Address</label>
            <input type="email" class="form-control w-50" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        <div class="form-group  mb-3 poppins-medium p-0">
          <label for="exampleFormControlTextarea1">Seller Message</label>
          <textarea class="form-control w-50" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6 form-group  mb-3 poppins-medium ">
                <label for="exampleFormControlInput1">Seller Phone Number</label>
                <input type="email" class="form-control w-100" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="col-md-6 d-flex gap-2  align-items-center">
                <img src="images/whatsapp.png" height="30" alt="">
                <p class="mt-3 poppins-medium txt3">Allow WhatsApp Contact</p>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
              </div>
        </div>
        
      </form>
</div>