<div class="container-fluid px-5 main">
    <p class="head poppins-medium mt-4">Sell Used Spare Parts in Pakistan</p>
    <div class="row my-5">
      <div class="col-md-9">
        <p class="txt poppins-regular">
          Do you want to sell your Truck spare parts online? Place your spare parts free ad and sell spare parts in 1 step in any city of Pakistan.
        </p>
      </div>
      <div class="col-md-3 text-end">
        <img src="images/image.png" class="imgsetting" alt="">
      </div>
    </div>
    
    <div>
      <p class="head poppins-medium">Enter Spare Parts Information</p>
      <p class="txt poppins-regular">(All fields marked with * are mandatory)</p>
      <form [formGroup]="sparePartsForm" (ngSubmit)="submitAd()">
    
        <!-- <div class="form-group">
          <label for="title">Title</label>
          <input id="title" type="text" class="form-control" formControlName="title" placeholder="Enter title" required>
        </div> -->
    
        <div class="form-group">
          <div class="row">
            <div class="col-2">
            <label for="location">Location</label>
            </div>
            <div class="col-9">
              <select id="location" class="form-control" formControlName="selectedLocation">
                <option value="" disabled>Select a location</option>
                <option *ngFor="let location of locations" [value]="location">{{ location }}</option>
              </select>
            </div>
          </div>
          
        </div>
    
        <div class="form-group row">
          <div class="col-3">
          <label for="category">Category</label>
          </div>
          <div class="col-9">
            <select id="category" class="form-control" formControlName="selectedCategory">
              <option value="" disabled>Select a category</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          </div>
          
        </div>
    
        <div class="form-group row">
          <div class="col-3">
            <label for="condition">Condition</label>
          </div>
          <div class="col-3">
            <select id="condition" class="form-control" formControlName="selectedCondition">
              <option value="" disabled>Select condition</option>
              <option *ngFor="let condition of conditions" [value]="condition">{{ condition }}</option>
            </select>
          </div>

        </div>
    
        <div class="form-group">
          <label for="price">Price</label>
          <input id="price" type="number" class="form-control" formControlName="price" placeholder="Enter price" required>
        </div>
    
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" class="form-control" formControlName="description" placeholder="Enter description" required></textarea>
        </div>
    
        <div class="form-group">
          <label for="images">Upload Images</label>
          <input id="images" type="file" class="form-control" (change)="onFileSelected($event)" multiple>
        </div>
    
        <button type="submit" class="btn btn-primary" [disabled]="sparePartsForm.invalid">Submit Ad</button>
      </form>
    </div>
  </div>
