<div class="main container-fluid p-0 w-100">
    <div class="container bg-white p-0 w-100">
        <app-profile></app-profile>
<app-menubar></app-menubar>

    </div>
    <div class="container p-0 my-4 w-100">
        <div class="card py-5 bg bg-white text-center w-100 ">
<p>
    Description for Notification

</p>
        </div> 
        <div class="text-end py-4">
            <span class="px-5 spn1"><img src="images/green.png" alt=""> Logout</span>
            <span class="spn2"><img src="images/red.png" alt=""> Delete Account</span>
    </div>
    </div>
   
</div>