.name{
    font-size: 20px;
    color: #016635;
}
.vari{
   color: #4D4D4D;
}

.info{
    font-size: 16px;
}
.spn1{
    color: #FA610E;
    border-right: 1px solid  #4D4D4D;
}
.spn2{
    color: #016635;
}