.head{
    font-size: 20px;
    color: rgba(1, 102, 53, 1);
}
.p1{
    font-size: 16px;
}
.p2{
    color: rgba(250, 97, 14, 1) !important;
    text-decoration: none;
}
.p3{
   color: rgba(1, 102, 53, 1); 
   text-decoration: none;
}