<div class="container-fluid px-4 pt-4 ">
    <div class="d-flex gap-4">
        <div>
    <img src="images/profile.png" alt="">
        </div>
        <div>
            <p class="poppins-medium name">Inayat Mirza <span class="ms-3 vari"><img src="images/shield-security.png" alt="">Unvarified</span></p>
            <p class="poppins-medium info">Member Since Nov 12, 2024</p>
            <p class="poppins-medium info"><span class="spn1 me-2 pe-3">Edit Profile</span> <span class="spn2 ps-3">
                Get Verified   <i class="fas fa-greater-than"></i></span></p>
        </div>
    </div>
</div>