.head{
    font-size: 18px;
    line-height: 50px;
}
.top{
    font-size: 20px;
    color: #016635;
}
.btn-success{
    background-color: #016635 !important;
}
.search{
    height: 50px;
}
.list-group-item{
    background-color: #ffffff00;
    border: 0px !important;
}
.form-check-input:checked{
    background-color: #016635;
}
.form-check-input:focus{
box-shadow: none;
}
input{
    background-color: #F2F7F5;
    border: 1px solid #C2DACF;
}
::placeholder{
    font-weight: 500;
}
.form-control:focus{
    box-shadow: none;
}
.btn1{
    background-color: #016635;
    border: 0px;
    border-radius: 0px 8px 8px 0px;
    color: white;
    padding-left:10px ;
    padding-right:10px ;

}