<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
    <div class="container-fluid px-5">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="images/truck.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-top">
      
      </a>
      <!-- Toggle Button for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar Items -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link poppins-medium mx-2" aria-current="page" routerLink="/pages/homepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link poppins-medium mx-2" routerLink="/pages/used-trucks">Used Truck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link poppins-medium mx-2" routerLink="/pages/spare-parts">Spare Parts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link poppins-medium mx-2" routerLink="/pages/all-blogs">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link poppins-medium mx-2" routerLink="/pages/videos">Video</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link poppins-medium mx-2" routerLink="/pages/contact-us">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  