<div class="contaier-fluid main overflow-hidden">
  <div class="row">
    <div class="col-md-5 py-5 px-5">
      <p class="head poppins-semibold text-white pb-5">Getting <br>
        Start PakTrucks World</p>
      <img src="images/truck.png" class="img-fluid mt-5" alt="">
    </div>
    <div class="col-md-7 formcol">
      <div class="text-end">
        <Select class="poppins-medium">
          <option value="">English (UK)</option>
          <option value="">Urdu</option>

        </Select>
      </div>
      <div>
        <p class="mt-5 headform poppins-bold">Login with Phone number</p>
        <p class="poppins-medium txt2">Safely Connect with Buyers</p>
        <p class="txt2 poppins-regular">Create alerts quickly and get notified when new listings become available</p>

        <form [formGroup]="phoneForm" (ngSubmit)="sendOTP()">
          <div class="phone-input w-100">
            <!-- Country code prefix is static (only +92) -->
            <span class="country-code poppins-medium pe-2">+92</span>
            <input type="text" formControlName="phone" class="phone-number poppins-medium"
              placeholder="Enter phone number" />
          </div>
          <button type="submit" class="btn my-4 w-100 poppins-medium" [disabled]="phoneForm.invalid">Login</button>
        </form>





        <div class="d-flex align-items-center justify-content-center my-3">
          <div class="flex-grow-1 border-bottom"></div>
          <span class="mx-2 text-muted">OR</span>
          <div class="flex-grow-1 border-bottom"></div>
        </div>
        <div class="text-center w-100">
          <button class="mx-2 endbtn w-100 poppins-medium" routerLink=""><img src="images/google.png" class="imgicon"
              alt=""> Signup with Google</button>

        </div>
      </div>
    </div>
  </div>
</div>