<div class="container-fluid main pb-5">
  <div class="">
    <p class="poppins-medium head">Used Truck Sub Category:</p>
    <div class="row g-3">
      <div class="col-custom" *ngFor="let category of categories">
        <a [routerLink]="category.link" class="text-decoration-none">
          <div class="card shadow-sm">
            <img src="{{ category.image }}" class="card-img-top py-1" alt="{{ category.title }}" />
            <div class="card-body text-center">
              <p class="card-title poppins-medium">{{ category.title }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
