.head{
    font-size: 32px;
    margin-top: 64px;

}
select{
    background-color: #F2F7F5;
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
}
.bgimg{
    background-image: url('../../../../public//images/bg1.png');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main1{
    padding: 44px 44px 44px 44px;
}
select:focus{
    background-color:#F2F7F5;
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
}
select option{
    padding: 10px 20px !important;
    font-size: 16px;
}
span{
    font-size: 18px;
}
.main{
    background-color: #F5F5F5;
}
.card-img-top{
    height: 200px;
    border-radius: 12px;
}
button{
    border: 0px ;
    padding: 10px 20px;
     border-radius: 7px;
}
.bottombtn{
    position: absolute;
    bottom: 10px;
    right: 130px;
    background-color:  rgba(1, 102, 53, 0.08);
    color: rgba(1, 102, 53, 1) ;

}
.bottombtn1{
    
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(1, 102, 53, 1);
    color: white;

}
.bottombtn2{
    position: absolute;
    bottom: 10px;
    right: 285px;
    background-color: rgba(1, 102, 53, 0.08);
    color: rgba(1, 102, 53, 1);
}
.card-title{
    font-size: 20px;
}
.card-text{
    font-size: 20px;
    color: #016635;
}
.d-flex{
    font-size: 16px;
    padding-left: 18px;
    padding-right: 18px;

}
.sixcls{
    font-size: 16px;
}
.detail{
   margin-right: 10px;
}
.btn{
    background-color: #016635;
    color: white;
    width: 150px;
}