<div class="main container-fluid p-0  px-5">
  <div class="hero d-flex align-items-end  justify-content-end " style="height: 80vh; margin-top:54px">
    <div class=" w-100">
      <div class="text-center ">
        <h1 class="poppins-medium text-white head1">Find Used Truck in Pakistan</h1>
        <p class="text-white txt1 poppins-medium">
          With thousand of Truck, we have just the right one for you
        </p>
      </div>
      <div class="bg-white w-100 py-4 px-3 rounded-3">
      

        <div class="row ">
          <div class="col-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Truck make or model" />
              <select class="form-select poppins-medium text-muted">
                <option class="poppins-medium">All Truck</option>
                <option class="poppins-medium">Truck 1</option>
                <option class="poppins-medium">Truck 2</option>
              </select>
              <select class="form-select poppins-medium text-muted">
                <option class="poppins-medium">Price Range</option>
                <option class="poppins-medium">Under $10,000</option>
                <option class="poppins-medium">$10,000 - $20,000</option>
              </select>
              <button class="btn btn-orange"><i class="fa fa-search pe-3"></i>Search</button>
            </div>
          </div>
        </div>

      </div>
      <div class="text-center">
        <button class="filtrbtn my-3 text-white poppins-medium"><a routerLink="/filterpage" class="text-white text-decoration-none">Advance Filter <i class="fas fa-arrow-right ps-3"></i></a>
        </button>

      </div>
    </div>
  </div>
  <app-browsecategorey></app-browsecategorey> <br>
  <!-- <app-testing></app-testing> -->
  
  <app-citiescategorynavandtabs></app-citiescategorynavandtabs>
  <app-minitruckcategorey></app-minitruckcategorey>
  <app-earthmovigmachinery></app-earthmovigmachinery>
  <app-usedbussesforsale></app-usedbussesforsale>
  <app-agriculturemachinery></app-agriculturemachinery>
  <app-brands></app-brands>
  <app-autostorenavsandtabs></app-autostorenavsandtabs>
  <app-paktruckvideos></app-paktruckvideos>
  <!-- <app-blogsnews></app-blogsnews> -->

  
</div>
<a href="https://wa.me/923207549012" target="_blank" class="whatsapp-float">
  <!-- <i class="fa fa-whatsapp whatsapp-icon"></i> -->
   <img src="images/wp.png" height="50" width="50" alt="">
</a>