<div class="main container-fluid p-0  px-5">
  <div class="hero d-flex align-items-end  justify-content-end " style="height: 80vh;">
    <div class=" w-100">
      <div class="text-center ">
        <h1 class="poppins-medium text-white">Find Used Truck in Pakistan</h1>
        <p class="text-white">
          With thousand of Truck, we have just the right one for you
        </p>
      </div>
      <div class="bg-white w-100 py-4 px-3 rounded-3">
        <div class="d-flex w-100 justify-content-start gap-3 mb-3">
          <button class="btn btn-success">Post an Add</button>
          <button class="btn btn-outline-secondary">Sell Your Truck</button>
          <button class="btn btn-outline-secondary">Spare Parts</button>
        </div>

        <div class="row ">
          <div class="col-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search Truck make or model" />
              <select class="form-select">
                <option>All Truck</option>
                <option>Truck 1</option>
                <option>Truck 2</option>
              </select>
              <select class="form-select">
                <option>Price Range</option>
                <option>Under $10,000</option>
                <option>$10,000 - $20,000</option>
              </select>
              <button class="btn btn-orange">Search</button>
            </div>
          </div>
        </div>

      </div>
      <div class="text-center">
        <button class="filtrbtn my-3 text-white poppins-medium">Filter <i class="fas fa-arrow-right"></i>
        </button>

      </div>
    </div>
  </div>
  <app-paktruckmanage></app-paktruckmanage>
  <app-featuredtrucksforsale></app-featuredtrucksforsale>
  <app-featuredbusesforsale></app-featuredbusesforsale>
  <app-machineryusedparts></app-machineryusedparts>
  <app-citiescategorynavandtabs></app-citiescategorynavandtabs>
  <app-minitruckcategorey></app-minitruckcategorey>
  <app-autostorenavsandtabs></app-autostorenavsandtabs>
  <app-earthmovigmachinery></app-earthmovigmachinery>
  <app-brands></app-brands>
  
  
  
  
  
</div>