.main{
    background-color: #f5f5f5;
}
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.whatsapp-float:hover {
    background-color: #1ebe5d;
}

.whatsapp-icon {
    font-size: 30px;
}
