<div class="container-fluid px-5 py-5">
<div class="bg-white text-center py-5">
<img src="images/tickicon.png" alt="">
<p class="head poppins-medium">Your Ad Has Been Posted Successfully!</p>
<p class="poppins-regular txt">Your Ad will soon be reachable to millions of buyers</p>
<button class="poppins-medium viewbtn"><i class="fa-solid fa-eye me-3"></i>View Your Ad</button>
<button class="poppins-medium postbtn"><i class="fa-solid fa-plus border rounded-circle p-1 me-3"></i>Post Another Ad</button>
<div class="mt-5">
    <p class="head text-muted poppins-medium">Want to sell your Truck Quicker?</p>
    <p class="txt poppins-medium" style="color: #016635;">Get your Ad Featured</p>
    <div class="row">
        <div class="col-6 text-end"><img src="images/truck.png" height="140" alt=""></div>
        <div class="col-6 text-start mt-3">
            <ul class="list-unstyled  text-muted ">
                <li class="poppins-medium txt"><i class="fa-solid fa-check me-3" style="color: #00CE6A;"></i>Reach up to 10x times more buyers</li>
                <li class="poppins-medium txt"><i class="fa-solid fa-check me-3" style="color: #00CE6A;"></i>Show your Ad in top position</li>
                <li class="poppins-medium txt"><i class="fa-solid fa-check me-3" style="color: #00CE6A;"></i>Get noticed with a feature Ad tag</li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>