.txt{
    font-size: 16px;
    color: #545756;
}
.txt:hover{
    color: #016635;
    text-decoration: underline !important;
    text-underline-offset:10px;
}
.txt:active{
    color: #016635;
    text-decoration: underline !important;
    text-underline-offset:10px;
}