<div class="container-fluid px-5 main ">
<div class="row pt-5">
    <div class="col-md-6">
        <p class="head poppins-medium">Contact Us</p>
        <form>
            <div class="form-group">
              <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter your Name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter your email Address">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Mobile Number">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Manage Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter you Message Here" rows="6"></textarea>
                <small>Only 320 Characters</small>
              </div>
           
            <button type="submit" class="btn ">Submit</button>
          </form>
    </div>
    <div class="col-md-6">
        <img src="images/contactimage.png" class="img-fluid" alt="">
    </div>
</div>
<div>
<p class="head poppins-medium mt-5">Address</p>
<p class="txt poppins-regular">Saeed Allam Tower, 37-Commenical zone Liberty Market, Gulberg, Lahore, Pakistan.</p>
<p class="head poppins-medium mt-5">Contact information</p>
<p class="txt poppins-regular"><span class="poppins-medium">Phone</span> 0315 - (72) (99)-793 0315 - (72) (99)-793</p>
<p class="txt poppins-regular"><span class="poppins-medium">WhatsApp</span>0315 - (72) (99)-793</p>
<p class="head poppins-medium mt-5">Office Timings</p>
<p class="txt poppins-regular"><span class="poppins-medium">Monday - Friday:</span>09:00 am - 07:00 pm</p>
<p class="txt poppins-regular"><span class="poppins-medium">Saturday - Sunday:</span> 10:00 am - 06:00 pm</p>
<p class="head poppins-medium mt-5">About:</p>
<p class="txt poppins-regular">Lorem ipsum dolor sit amet consectetur. Ornare ut felis diam urna nam. Quam urna amet diam facilisi eget vestibulum malesuada nulla. In mattis turpis ac a. Gravida pharetra eu urna nec sagittis mauris. Pellentesque interdum quis amet venenatis pharetra augue dictumst magna ut. Dolor amet augue laoreet potenti elit a enim augue est. Amet semper eleifend elementum non potenti. Nisi lacus ut molestie gravida tellus. </p>
<p class="head poppins-medium mt-5">Links</p>
<div>
    <div class="d-flex py-2">
        <div><img src="images/fb.png" alt=""></div>
        <div class="ms-3"> 
            <p class="txt1 poppins-medium mt-2">Follow on Facebook</p>
            <p class="link">Here Link</p>
        </div>
    </div>
    <div class="d-flex py-2">
        <div><img src="images/in.png" alt=""></div>
        <div class="ms-3">
            <p class="txt1 poppins-medium mt-2"> Follow on Instagram</p>
            <p class="link">Here Link</p>
        </div>
    </div>
    <div class="d-flex py-2">
        <div><img src="images/tik.png" alt=""></div>
        <div class="ms-3">
            <p class="txt1 poppins-medium mt-2">Follow on TikTok</p>
            <p class="link">Here Link</p>
        </div>
    </div>
    <div class="d-flex py-2">
        <div><img src="images/yt.png" alt=""></div>
        <div class="ms-3">
            <p class="txt1 poppins-medium mt-2">Subscribe on YouTube</p>
            <p class="link">Here Link</p>
        </div>
    </div>

</div>



<p class="head poppins-medium mt-5">Frequently asked question:</p>
<p class="txt poppins-regular">Lorem ipsum dolor sit amet consectetur. Ornare ut felis diam urna nam. Quam urna amet diam facilisi eget vestibulum malesuada nulla. In mattis turpis ac a. Gravida pharetra eu urna nec sagittis mauris. Pellentesque interdum quis amet venenatis pharetra augue dictumst magna ut. Dolor amet augue laoreet potenti elit a enim augue est. Amet semper eleifend elementum non potenti. Nisi lacus ut molestie gravida tellus. </p>
</div>
</div>








