<div class="px-5 py-0" id="usedtruck">
  <div class="d-flex justify-content-between align-items-center">
    <p class="head poppins-medium">UsedTruck For Sale</p>
    <p class="poppins-medium">
      <a routerLink="/filterpage" class="text-decoration-none text-success txt">View all</a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let item of ads | slice:0:4">
      <div class="card p-1">
        <a [routerLink]="['/detail-page', item._id]">
          <img [src]="item.images[0]" class="card-img-top" alt="{{ item.make }} {{ item.modelYear }}" />
          <div class="card-body">
            <p class="card-title poppins-medium">{{ item.make }}</p>
            <p class="card-text poppins-semibold">{{ item.price }}</p>
            <p class="card-text1 poppins-regular">{{ item.location }}</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>