<div class=" manage my-2 ">
    <div class="d-flex  justify-content-between align-items-center ">
        <p class="head poppins-medium">Managed by PakTruck</p>
        <p class=" poppins-medium"><a routerLink="/filterpage" class="text-decoration-none text-success txt">View all managed by PakTruck Trucks</a></p>
    </div>
    <div class="row ">
        <div class="col-md-3 mb-4" *ngFor="let item of bodyParts">
          <div class="card h-100 p-1">
            <a routerLink="/detail-page">
            <img [src]="item.image" class="card-img-top" alt="{{ item.name }}">
            <div class="card-body">
              <p class="card-title poppins-medium">{{ item.name }}</p>
              <p class="card-text poppins-semibold">{{ item.price }}</p>
              <p class="card-text1 poppins-regular">{{ item.city }}</p>

            </div></a>
          </div>
        </div>
      </div>
</div>