.title{
    font-size: 20px;
  }
.colmd4{
    max-height: 370px; 
    overflow-y: auto; 
    overflow-x: auto;
}
.colmd4::-webkit-scrollbar {
    height: 5px; 
    width: 5px; 
  }
  
  .colmd4::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; 
  }
  
  .colmd4::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .colmd4::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  