.bgclr{
    background-color: black;
}
.head{
    color: #FA610E !important;
    font-size: 22px !important;
}
ul li a{
    font-size: 18px;
}
.imgfooter{
    height: 200px;
}
.head1{
    font-size: 32px;
}
.txt1{
    font-size: 24px;
}
.img1{
    height: 50px;
}
.txt1{
    font-size: 20px;
}