<div class="container-fluid px-5  pt-4 bg-white">
    <p class="head poppins-medium">Tips & Advice</p>
    <div class="row ">
        <div class="col-md-3 mb-4" *ngFor="let item of  tipsandadivce">
          <a routerLink="/blog-detail-page" class="text-decoration-none">
          <div class="card h-100 ">
            <div class="cradhead">
            <img [src]="item.image" class="card-img-top" alt="{{ item.title }}">
            <p class="imgtxt poppins-medium">Tip & Advice</p></div>
            <div class="card-body">
              <h5 class="card-title advicehead poppins-medium">{{ item.title}}</h5>
              <p class="card-text text-muted poppins-medium txt">{{ item.name }} <span>•{{item.date}}</span></p>
            </div>
          </div></a>
        </div>
      </div>
</div>