.dot {
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
  
  .list-item {
    margin-bottom: 20px; 
    line-height: 30px;
    color: rgba(0, 0, 0, 0.7) !important;
  }
  .head{
    font-size: 32px;
    color: #016635;
    padding-top:64px ;
    padding-bottom: 24px;
  }
  .head1{
    font-size: 32px;
  }
  h4{
    color: #016635;
  }
  .txt{
    font-size: 20px;
    line-height: 50px !important;
  }
  .main1{
    padding: 64px 44px 44px 44px;
  }