<div class="manage my-2" id="usedbuses">
  <div class="d-flex justify-content-between align-items-center">
      <p class="head poppins-medium">Used Buses For Sale</p>
      <p class="poppins-medium">
          <a routerLink="/filterpage" class="text-decoration-none text-success txt">View all</a>
      </p>
  </div>

  <div *ngIf="loading" class="loading">Loading ads...</div>
  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div *ngIf="ads.length > 0; else noAds">
      <div class="row">
          <div class="col-md-3 mb-4" *ngFor="let ad of ads">
              <div class="card h-100 p-1">
                  <a [routerLink]="['/detail-page', ad._id]">
                      <img *ngIf="ad.images.length > 0" [src]="ad.images[0]" class="card-img-top" alt="{{ ad.make }}">
                      <div class="card-body">
                          <p class="card-title poppins-medium">{{ ad.make }}</p>
                          <p class="card-text poppins-semibold">{{ ad.price | currency }}</p>
                          <p class="card-text1 poppins-regular">{{ ad.location }}</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>

  <ng-template #noAds>
      <p>No buses available.</p>
  </ng-template>
</div>
