<div class="main container-fluid">
  <div class="container bg-white">
    <app-profile></app-profile>
    <app-menubar></app-menubar>
    <div class="row w-100">
      <div class="col-md-10">
        <!--Direct calling data bad me is ko hata kar apny desin wala col un comment kar k os me laga dyna. -->
        <div *ngIf="favoriteAds.length > 0; else noFavorites">
          <div *ngFor="let ad of favoriteAds" class="ad-card">
            <img *ngIf="ad.images.length > 0" [src]="ad.images[0]" alt="Ad Image" class="ad-image" />
            <h3>{{ ad.make }} - {{ ad.subCategory }}</h3>
            <p>Price: {{ ad.price | currency }}</p>
            <p>Location: {{ ad.location }}</p>
            <p>Year: {{ ad.modelYear }}</p>
            <p>{{ ad.description }}</p>
          </div>
        </div>

        <ng-template #noFavorites>
          <p>No favorite ads found.</p>
        </ng-template>
      </div>
      <!-- <div class="col-md-10 mb-4" *ngFor="let item of myads">
        <div class="card p-2">
          <div class="row">
            <div class="col-4">
              <img [src]="item.image" class="card-img-top" alt="{{ item.name }}">

            </div>
            <div class="col-4 align-items-center">
              <h5 class="card-title poppins-medium text-muted">{{ item.name }}</h5>
              <p class="card-text poppins-medium">{{ item.price }}</p>
              <ul class=" mb-2 d-flex gap-4 poppins-medium">
                <li *ngFor="let detail of item.details" class=" poppins-medium sixcls">{{ detail }}</li>
              </ul>
              <p class="poppins-medium  sixcls"><i class="fa-solid fa-location-dot me-2"></i>{{ item.location }}</p>
              <p class="poppins-regular sixcls">{{ item.lastupdate }}</p>

            </div>
            <div class="col-4 text-end  btns">
              <div><button class="viewbtn poppins-regular">{{ item.viewbtn }}<i
                    class="fa-solid fa-arrow-right ms-3"></i></button></div>
              <div><img src="images/heart.png " class="me-3 heart" alt=""><button class="bottombtn poppins-regular"><i
                    class="fa-solid fa-phone-volume"></i>

                  {{ item.submitbtn}}</button></div>

            </div>
          </div>

        </div>
      </div> -->
    </div>
    <div class="text-end">
      <span class="px-5 spn1"><img src="images/green.png" alt=""> Logout</span>
      <span class="spn2"><img src="images/red.png" alt=""> Delete Account</span>
    </div>
  </div>
</div>